.banner {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/000/185/950/large/juhani-jokinen-castle-sketch.jpg?1443928773') !important;
  background-size: cover;
  height: 250px;
  font-size: 18px;
}